.formСontrol {

}

.formСontrol.error input,
.formСontrol.error textarea {
    border: 1px solid red;
}

.formСontrol.error span {
    color: red;
}

.formСontrol .summaryError {
    border: 1px solid red;
    color: red;
}